body {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-size: 4.3rem;
}

.titulo {
  font-size: 4.5rem;
  text-shadow: 0.125em 0.25em 0.125em #707070;
}

.titulo, .subtitulo {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}

.subtitulo {
  padding-top: 3rem;
  color: #29271B;
  font-size: 3.2rem;
}

.linea { /*revisar*/
  border-bottom: 0.2rem solid #D0BC99;
}

/*navbar*/
.navbar {
  font-weight: 700,
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
}

.bg-color{ /*navbar y footer color*/
  background-color: #405556;

}

/*header*/
.header {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  position: center center;
}


.texto-header {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 4.5rem;
  position: absolute;
  bottom: 1rem;
}

/*sobre mi*/
.referencia {
  text-decoration: none;
  style: none;
}

.about-me {
  text-align: left;
  margin-top: 3rem;
  font-weight: 400;
  font-size: 1rem;
}

.blockquote {
  font-weight: 600;
  font-size: 1.5rem;
}

.aqui {
  color: black;
}

/*experiencia*/
.fas {
  color: #29271B;
}
.texto-carrusel {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  color: #D0BC99;
  font-size: 2rem;
}
.experiencia {
  padding: 3rem;
}

/*trabajos*/
.card {
  border-color: #194343;
}
/*contacto*/


/*footer*/
.footer p {
  text-decoration: none;
  style: none;
}

.footer i {
  color: white;
}

.footer {
  margin: 0;
}
