body {
  font-family: 'Open Sans', sans-serif;
}

texto especial
font-family: 'Oswald', sans-serif;

/*navbar*/
.navbar {
  font-weight: 700,
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  font-weight: 700;
}

.bg-color{ /*navbar y footer color*/
  background-color: #660066;

}

/*header*/
.header {
  background-image: url(../img/bg_hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 6.25rem 3.125rem;
}

.texto-header {
  color: white;
}

/*sobre mi*/
.about-me {
  text-align: left;
}

/*experiencia*/

/*trabajos*/

/*contacto*/

/*footer*/
.footer {
  margin: 0;
}
